iframe {
  display: none;
}

body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

.nav {
  display: flex;
  gap: 15px;
  justify-content: center
}

@import "./todoapp";
@import "./todo";
@import "./filter";
