<section class="about">
  <article class="about__txt">
    TodoApp is a task management application developed using Angular, TypeScript, JavaScript, HTML, CSS, Sass, and following the BEM methodology. The application utilizes various Angular features and concepts:
  </article>

  <ul class="about__list">
    <li class="about__item about__txt">
        <span class="about__txt_strong">NgModel</span>
        and
        <span class="about__txt_strong">ReactiveForms</span>
        Used for managing data and forms within the application.
    </li>

    <li class="about__item about__txt">
        <span class="about__txt_strong">Input</span>,
        <span class="about__txt_strong">Output</span> and
        <span class="about__txt_strong">EventEmitter</span>:
        Enabling data exchange between parent and child components.
    </li>

    <li class="about__item about__txt">
        <span class="about__txt_strong">ViewChild</span>:
        Providing access to DOM elements from within components.
    </li>

    <li class="about__item about__txt">
        <span class="about__txt_strong">Life Cycle Methods</span>:
        Used for managing the lifecycle of components, such as ngOnInit, ngOnDestroy, and others.
    </li>

    <li class="about__item about__txt">
        <span class="about__txt_strong">Change Detection Strategy</span>:
        Employed for optimizing performance by controlling change detection.
    </li>

    <li class="about__item about__txt">
        <span class="about__txt_strong">Pipes</span>:
        Used for data transformation in templates, such as date formatting.
    </li>

    <li class="about__item about__txt">
        <span class="about__txt_strong">Services</span>:
        Organized to handle business logic and data exchange between components.
    </li>

    <li class="about__item about__txt">
        Observables and Subjects: Leveraged for asynchronous programming and managing data streams.
    </li>

    <li class="about__item about__txt">
        <span class="about__txt_strong">Router</span>:
        Facilitating navigation between different parts of the application and supporting routing.
    </li>

    <li class="about__item about__txt">
        <span class="about__txt_strong">Lazy Loading</span>:
        Implemented to optimize application loading by dynamically loading parts of the application as needed.
    </li>
  </ul>

  <article class="about__txt">
    This application allows users to create, update, delete, and mark tasks as completed, as well as view them in various modes (active, completed) and filter them by status.
  </article>
</section>
